# Объединение данных

In [2]:
import pandas as pd

Используем два набора данных

In [4]:
Data1 = pd.read_csv("user_device.csv")
Data2 = pd.read_csv("user_usage.csv")

In [5]:
Data1.head()

   use_id  user_id platform  platform_version     device  use_type_id
0   22782    26980      ios              10.2  iPhone7,2            2
1   22783    29628  android               6.0    Nexus 5            3
2   22784    28473  android               5.1   SM-G903F            1
3   22785    15200      ios              10.2  iPhone7,2            3
4   22786    28239  android               6.0  ONE E1003            1

In [6]:
Data2.head()

   outgoing_mins_per_month  outgoing_sms_per_month  monthly_mb  use_id
0                    21.97                    4.82     1557.33   22787
1                  1710.08                  136.88     7267.55   22788
2                  1710.08                  136.88     7267.55   22789
3                    94.46                   35.17      519.12   22790
4                    71.59                   79.26     1557.33   22792

In [11]:
print(f"Data1: {Data1.shape}")
print(f"Data2: {Data2.shape}")

Data1: (272, 6)
Data2: (240, 4)

Для "склеивания" используем "Outer Merge"

In [12]:
bresult = pd.merge(Data2, Data1[['use_id', 'platform', 'device']], on='use_id', how='outer', indicator=True)

In [14]:
result

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device,_merge
0,21.97,4.82,1557.33,22787,android,GT-I9505,both
1,1710.08,136.88,7267.55,22788,android,SM-G930F,both
2,1710.08,136.88,7267.55,22789,android,SM-G930F,both
3,94.46,35.17,519.12,22790,android,D2303,both
4,71.59,79.26,1557.33,22792,android,SM-G361F,both
5,71.59,79.26,1557.33,22793,android,SM-G361F,both
6,71.59,79.26,519.12,22794,android,SM-G361F,both
7,71.59,79.26,519.12,22795,android,SM-G361F,both
8,30.92,22.77,3114.67,22799,android,ONEPLUS A3003,both
9,69.80,14.70,25955.55,22801,android,GT-I9505,both
10,554.41,150.06,3114.67,22804,android,SM-G935F,both
11,189.10,24.08,519.12,22805,android,GT-I9195,both
12,283.30,107.47,15573.33,22806,android,A0001,both
13,324.34,92.52,519.12,22808,android,SM-G900F,both
14,797.06,7.67,519.12,22813,android,HTC Desire 510,both
15,797.06,7.67,15573.33,22814,android,HTC Desire 510,both
16,797.06,7.67,15573.33,22815,android,HTC Desire 510,both
17,797.06,7.67,15573.33,22816,android,HTC Desire 510,both
18,797.06,7.67,15573.33,22817,android,HTC Desire 510,both
19,78.80,327.33,10382.21,22819,android,HTC One mini 2,both
20,78.80,327.33,15573.33,22820,android,HTC One mini 2,both
21,78.80,327.33,15573.33,22822,android,HTC One mini 2,both
22,164.10,192.64,3114.67,22823,android,SM-G900F,both
23,208.26,91.76,5191.12,22824,android,SM-G900F,both
24,681.44,47.35,1271.39,22829,ios,"iPhone7,2",both
25,324.27,91.50,519.12,22830,android,SM-G900F,both
26,85.97,26.94,407.01,22831,android,GT-I8190N,both
27,244.88,105.95,1557.33,22832,android,D5803,both
28,135.09,42.02,5191.12,22833,android,E6653,both
29,57.49,16.73,15573.33,22839,android,A0001,both
...,...,...,...,...,...,...,...
323,NaN,NaN,NaN,22976,ios,"iPhone6,2",right_only
324,NaN,NaN,NaN,22983,ios,"iPhone6,2",right_only
325,NaN,NaN,NaN,22984,ios,"iPhone6,2",right_only
326,NaN,NaN,NaN,22990,android,HUAWEI VNS-L31,right_only
327,NaN,NaN,NaN,22993,android,SM-N910F,right_only
328,NaN,NaN,NaN,22996,ios,"iPhone6,2",right_only
329,NaN,NaN,NaN,23000,android,HUAWEI VNS-L31,right_only
330,NaN,NaN,NaN,23001,android,SM-G920F,right_only
331,NaN,NaN,NaN,23004,ios,"iPhone7,2",right_only
332,NaN,NaN,NaN,23006,ios,"iPhone7,2",right_only
333,NaN,NaN,NaN,23007,ios,"iPhone6,2",right_only
334,NaN,NaN,NaN,23008,ios,"iPhone6,2",right_only
335,NaN,NaN,NaN,23009,ios,"iPhone6,2",right_only
336,NaN,NaN,NaN,23010,ios,"iPhone6,2",right_only
337,NaN,NaN,NaN,23011,ios,"iPhone6,2",right_only
338,NaN,NaN,NaN,23014,ios,"iPhone6,2",right_only
339,NaN,NaN,NaN,23022,ios,"iPad5,3",right_only
340,NaN,NaN,NaN,23025,ios,"iPhone6,2",right_only
341,NaN,NaN,NaN,23033,ios,"iPhone7,1",right_only
342,NaN,NaN,NaN,23034,android,SM-J320FN,right_only
343,NaN,NaN,NaN,23035,ios,"iPhone7,2",right_only
344,NaN,NaN,NaN,23037,ios,"iPhone7,1",right_only
345,NaN,NaN,NaN,23038,ios,"iPhone7,1",right_only
346,NaN,NaN,NaN,23042,android,SM-G900F,right_only
347,NaN,NaN,NaN,23045,ios,"iPhone7,1",right_only
348,NaN,NaN,NaN,23047,ios,"iPhone7,1",right_only
349,NaN,NaN,NaN,23048,android,ONEPLUS A3003,right_only
350,NaN,NaN,NaN,23050,ios,"iPhone7,2",right_only
351,NaN,NaN,NaN,23051,ios,"iPhone7,2",right_only
352,NaN,NaN,NaN,23052,ios,"iPhone8,4",right_only

<br>Проверим, сколько было уникальных id в обеих таблицах

In [17]:
print(pd.concat([Data1['use_id'], Data2['use_id']]).unique().shape[0])

353

In [ ]:
data_cop = data.copy()

Значит объединение прошло без утери данных